/* место для вашего кода */
.header {
  padding: 93px 49.5px 89px 50.52px;
  display: grid;
  grid-template-columns: 1fr 138px 1fr;
}

.header__links-list {
  display: flex;
  justify-content: center;
  padding-top: 43px;
  margin-left: -40px;
  gap: 32px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
  letter-spacing: 0.01em;
}

.header__link {
  border-bottom: 1px solid;
}

.address {
  justify-self: end;
  padding-right: 37px;
  padding-top: 5px;
}

.header__address {
  font-style: normal;
  display: block;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-underline-offset: 4px;
  line-height: 135%;
} 

.address__main {
  font-style: normal;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  list-style: none;
  text-align: left;
} 

.cover {
  position: relative;
  z-index: 0;
  background-image: url(../images/cover.jpg);
  height: 757px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  color: white; 
}

.overlay {
  position: absolute;
  z-index: -1;  
  background: #000;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.cover__title {
  font-size: 100px;
  letter-spacing: 0.3em;
  opacity: 1; 
}

.aligned-text {
  display: inline-block;
  padding: 164px 0px 0px 50px;
}


.aligned-text_center {
  display: inline-block;
  padding: 10px 0px 0px 336px;
}

.aligned-text_right {
  display: inline-block;
  padding: 3px 0px 0px 634px;
}

.letter-spacing-extended { 
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: space-evenly;
  padding-top: 127px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  padding: 13px 28px 0px 27px;
}

.bet-button {
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
  padding-top: 11px;
  padding-left: 31px;
}

/* !Лоты */

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin: 179px 0px 27px 64px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  width: 1052px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 564px;
}

.card-link {
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  color: white; 
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film{
  position: relative;
  z-index: 0;
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.card_type_book{
  position: relative;
  z-index: 0;
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.card_type_picture{
  position: relative;
  z-index: 0;
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  border-bottom: 1px solid;
  text-decoration: none;
  padding-top: 28px;
  margin-left: 64px;
}

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  width: 1052px;
  min-height: 595px;
  margin: 148px 24px 0px 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 33px 0px 0px 47px;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 100%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 134px 0px 75px 0px;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.about__text-bot {
  font-size: 20px;
  line-height: 120%;
}

/* !Подвал */

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  justify-content: space-between;
  margin: 180px 50px 88px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
  font-size: 18px;
}

.footer__menu-link {
  border-bottom: 1px solid;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}